.picture-center {
  overflow: hidden;
  padding: 10px;
  padding-top: 35px;
  position: sticky !important;
}
.picture-center img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 350px;
  width: 480px;
  border-radius: 2px;
  box-shadow: 0 5px 10px #030F10
}

.show-align {
  display: flex;
  text-align: center;
}

.icon-off {
  color: #9AD4D6;
}

.icon-on {
  color: #FF7E45;
}

.icons-layout {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.show-name {
  position: relative;
  padding: 10px;
  background-color: #0C4E56;
  border-radius: 2px;
}

.description-row {
  padding: 28px;
  margin: 15px;
}

a:visited {
  color: #071E22;
  text-decoration: none;
  border: none;
}

