<div class="modal fade" id="newBookerReviewForm" tabindex="-1" role="dialog" aria-labelledby="newBookerReviewModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" id="review-content">

      <div class="modal-header">
        <h5 class="modal-title" id="newBookerReviewLabel">Place a review</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

    </div>
  </div>
</div>
