<div class="message" data-booking-id="<%= booking.id %>">
  <%= render 'booking', booking: booking %>
  <% if booking.status == "accepted" %>
    <div class="message-status">
      <%= link_to "Review!", "#", class: "btn btn-cancel", method: :patch, remote: true %>
    </div>
  <% end %>
</div>
