.card {
  background-size: cover;
  background-position: center;
  height: 150px;
  border-radius: 1px;
  margin: 15px 10px;
  box-shadow: 0 0 10px #030F10;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 25px;
  color: white;
  font-weight: bolder;
  text-shadow: 0 0 10px rgba(0,0,0,0.7);
}

.container {
  background-color: #357B7F;
}

.card-description h2 {
  font-family: 'Roboto Mono', monospace;
  font-size: 40px;
}

.card-link {
  transition: all 0.5s;
  &:hover {
    border: 2px solid #29AAA4;
    box-shadow: 3px 5px 15px #030F10;
  }
}
