body {
  background-color: #357B7F;
}

h1 {
  font-family: 'Roboto', sans-serif;
  color: white;
  font-style: italic;
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0.5px 2px #041F24;
}

h2 {
  font-family: 'Roboto Mono', monospace;
  font-size: 25px;
  font-weight: bold;
  color: white;
  opacity: 0.9;
  text-shadow: 0.6px 2px #041F24;
}

h3 {
  font-family: 'Roboto Mono', monospace;
  opacity: 0.9;
  color: white;
  font-size: 22px;
  font-weight: lighter;
  text-shadow: 0.6px 2px #041F24;
}

p {
  font-family: 'Roboto Mono', monospace;
  font-size: 18px;
  font-weight: lighter;
  color: white;
  opacity: 0.7;
  margin-bottom: 30px;
}

hr {
  border: 2px dashed #041F24;
  width: 800px;
}
