.main-container {
  display: flex;
  justify-content: space-between;
}

#map {
  height: 100vh;
  position: sticky !important;
  top: 0 !important;
  flex-grow: 3;
  min-width: 400px;
}

.container-margin {
  padding-right: 0;
}

.search-cards {
  flex-grow: 1;
}

// /* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-width: 500px) {

/* Styles */
#map {
  display: none;
  height: 100vh;
  position: sticky !important;
  top: 0 !important;
}
}
