/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  margin: 0;
  text-align: center;
  color: white;
  font-family: 'Roboto mono', monospace;
  font-weight: lighter;
}
.alert-info {
  background: $green;
}
.alert-warning {
  background: $green;
}
