.btn-search {
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-weight: bold;
  color: #071E22;
  font-size: 30px;
  background-color: white;
  display: inline-block;
  margin: 22px;
  width: 40%;
  padding: 9px 10px;
  border-radius: 40px;
  transition: all 0.3s;
  &:hover {
    border: 7px inset #FF7E45;
  }
}

.btn-search input {
  border: none;
}

.btn-success {
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-weight: lighter;
  color: #FF7E45;
  font-size: 12px;
  background-color: white;
  display: inline-block;
  margin: 15px;
  width: 37%;
  padding: 5px 6px;
  border-radius: 30px;
  transition: all 0.3s;
  &:hover {
    border: 4px inset #9AD4D6;
    background-color: #FF7E45;
  }
}



.btn-warning {
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-weight: lighter;
  color: #FF7E45;
  font-size: 12px;
  background-color: white;
  display: inline-block;
  margin: 15px;
  width: 37%;
  padding: 5px 6px;
  border-radius: 30px;
  transition: all 0.3s;
  &:hover {
    border: 4px inset #FF7E45;
    background-color: #9AD4D6;
  }
}
